<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-xgpush" version="1.0.0">
  <name>cordova-plugin-xgpush</name>
  <description>Tencent XGPush Plugin</description>
  <license>MIT</license>
  <author>sunlu</author>
  <keywords>cordova, push, chinese,xgpush</keywords>
  <repo>https://github.com/sunlu/cordova-plugin-xgpush.git</repo>
  <issue>https://github.com/sunlu/cordova-plugin-xgpush/issues</issue>
   
  <preference name="ACCESS_ID" />
  <preference name="ACCESS_KEY" />
  <preference name="IOS_ACCESS_ID" />
  <preference name="IOS_ACCESS_KEY" />
  
  <js-module name="xgpush" src="www/xgpush.js">
    <clobbers target="xgpush" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/after_plugin_add.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="XGPush">
        <param name="android-package" value="net.sunlu.xgpush.XGPushPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/XGPushPlugin.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushReceiver.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushCallback.java" target-dir="src/net/sunlu/xgpush" />
    <!-- Tencent XGPush SDK  -->
   <framework src="sdk/android/build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="XGPush">
        <param name="ios-package" value="CDVXGPushPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="XGPushMeta">
      <dict>
        <key>AccessID</key>
        <integer>$IOS_ACCESS_ID</integer>
        <key>AccessKey</key>
        <string>$IOS_ACCESS_KEY</string>
      </dict>
    </config-file>
    <!-- Tencent XGPush SDK -->
    <header-file src="sdk/ios/XGPush.h" /> 
    <source-file src="sdk/ios/libXG-SDK.a" framework="true" />
    <!-- Cordova Plugin -->
    <header-file src="src/ios/AppDelegate+CDVXGPush.h" />
    <source-file src="src/ios/AppDelegate+CDVXGPush.m" />
    <header-file src="src/ios/CDVXGPushPlugin.h" />
    <source-file src="src/ios/CDVXGPushPlugin.m" />
    <!-- Dependencies -->
    <framework src="libz.tbd" />
    <framework src="libsqlite3.0.tbd" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="UserNotifications.framework" />
  </platform>
</plugin>
